@import "../../style/variables";

.levels {
  width: 415px;
  height: 118px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-title {
    width: 417px;
    height: 59px;
    &_level {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      color: $white;
      width: 417px;
      height: 59px;
      background-image: url(../../resources/img/button-primary-levels.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
