@import "../../style/variables.scss";
.nav {
  height: 120px;
  margin-left: 615px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  &-link {
    color: $white;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }
}
