@import "../../style/variables.scss";
.footer {
  width: 1440px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  &__icons {
    display: flex;
    align-items: center;
  }
  &__text {
    &-link {
      color: $pink;
    }
  }
}
